html {
  background: #B2FEFA;
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  font-family: 'Press Start 2P', cursive;
}

#PageContent {
  background: #333333;
  color: white;
  width: 70%;
  border: 3px solid black;
  padding: 50px;
  margin: 70px auto auto;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-weight: bolder;
  padding-bottom: 50px;
}

p {
  font-size: 20px;
  font-family: "Arial", sans-serif;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 50px;
  line-height: 30px;
}

h2 {
  font-size: 38px;
  font-family: "Arial ", sans-serif;
  font-weight: bold;
  margin-top: 50px;
}

h3 {
  font-size: 38px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

input {
  border-radius: 36px;
  width: 80%;
  padding: 15px;
  background: white;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 200;
  color: black;
  font-family: "Arial Rounded MT Bold", sans-serif;
  margin-bottom: 50px;
  margin-top: 30px;
}

output {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  line-height: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 90px;
}